<table class="table" {{attributes}}>
    <thead class="bg-(--background-color) border-b-2 border-black">
        <tr class="p-4">
            <th class="py-4">Numéro</th>
            <th class="py-4">Date</th>
            <th class="py-4">Client</th>
            <th class="py-4">Total TTC</th>
            <th class="py-4">Statut</th>
            <th class="py-4">actions</th>
        </tr>
    </thead>
    <tbody class="h-">
        {% for inv in invoice %}
        <tr>
            <td>{{ inv.number }}</td>
            <td>{{ inv.createdAt ? inv.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ inv.client ? inv.client.name : '' }}</td>
            <td>{{ inv.totalTtc }}</td>
            <td>{{ inv.status }}</td>
            <td></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Aucun Produit / Service</td>
        </tr>
        {% endfor %}
    </tbody>
</table>