
<table class="table product-list" {{attributes}}>
	<thead class="product-list__head">
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th>Prix unitaire</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr class="product-list__row">
			<td>{{ product.name }}</td>
			<td>{{ product.description }}</td>
			<td>{{ product.price }} / {{ product.unit.value }}</td>
			<td class="product-list__actions">
				<a class="product-list__action product-list__action--edit" href="{{ path('app_product_edit', {'id': product.id}) }}">
					<i class="fa-solid fa-pencil"></i>
				</a>
				<form action="{{path('app_product_delete' , {'id': product.id})}}" method="post"
					onsubmit="return confirm('Are you sure you want to delete this product?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
					<button type="submit" class="product-list__action product-list__action--delete">
						<i class="fa-regular fa-trash-can"></i>
					</button>
				</form>
			</td>
		</tr>
		{% else %}
		<tr>
			<td class="product-list__empty" colspan="7">Aucun produit pour le moment</td>
		</tr>
		{% endfor %}
	</tbody>
</table>