

<table class="table table-card" {{attributes}}>
	<thead class="table-head">
		<tr>
			<th>Nom</th>
			<th>Description</th>
			<th class="table-cell-center">Prix unitaire</th>
			<th class="table-cell-right">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr class="table-row">
			<td>{{ product.name }}</td>
			<td>{{ product.description }}</td>
			<td class="table-cell-center">{{ product.price }} / {{ product.unit.value }}</td>
			<td class="table-actions-cell">
				<div class="table-actions">
					<a class="table-action table-action-edit" href="{{ path('app_product_edit', {'id': product.id}) }}">
						<i class="fa-solid fa-pencil"></i>
					</a>
					<form action="{{path('app_product_delete' , {'id': product.id})}}" method="post"
						onsubmit="return confirm('Are you sure you want to delete this product?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
						<button type="submit" class="table-action table-action-delete">
							<i class="fa-regular fa-trash-can"></i>
						</button>
					</form>
				</div>
			</td>
		</tr>
		{% else %}
		<tr>
			<td class="table-empty" colspan="7">Aucun produit pour le moment</td>
		</tr>
		{% endfor %}
	</tbody>
</table>